html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

.divHeader {
  width: 100%;
  height: 15%;
}
.divContainer {
  width: 100%;
  height: 100%;
  position: absolute;
}
.container-clima {
  width: 80%;
  height: 70%;
  margin: 30px;
  padding: 55px;
  background: white;
  border-radius: 25px;
  position: relative;
  white-space: hidden;
}
::selection {
  background: rgb(255, 166, 0);
  color: white;
}
::-moz-selection {
  background: rgb(255, 166, 0);
  color: white;
}
.input-lg {
  font-size: 2.5vh;
}

.centered-content {
  background: #ff512f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f09819,
    #ff512f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f09819,
    #ff512f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.centered-contentLanding {
  background: #ff512f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f09819,
    #ff512f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f09819,
    #ff512f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.LeftContent {
  font-size: 2.5vw;
}
.RightContent {
  height: 100%;
  color: #eb8950;
  font-size: 3.6vw;
  text-align: center;
  vertical-align: middle;
}
.RightContent h1 {
  font-size: 8vw;
  margin-left: 5vw;
}
.LeftContent h1 {
  font-size: 4.5vw;
  font-weight: 600;
  background: -webkit-linear-gradient(rgb(231, 153, 63), rgb(255, 123, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.loading {
  font-size: 5vw;
  align-content: center;
  text-align: center;
}
.mensajeLanding {
  font-size: 4.5vw;
  align-content: center;
  text-align: center;
}

.react-typical {
  font-size: 3.5vh;
  align-content: center;
  text-align: center;
}
.bottomText {
  font-size: 3vh;
  align-content: center;
  text-align: center;
}

.botonBuscar {
  border-color: #fbab7e;
  color: #fbab7e;
  font-weight: bold;
}
.hovered:hover {
  background: #da7840;
  color: white;
  border-color: #da7840;
  transform: scale(1.04);
}

.hovered:active {
  transition: 0.5s ease, transform 0.2s ease;
  border-color: #da7840;
  transform: scale(0.93);
}

.hovered:focus {
  outline: none !important;
  box-shadow: none;
}

.tempText {
  color: #240955;
}
.tempValue {
  font-size: 5vw;
  color: #eb8950;
  text-align: inherit;
}
.form-control,
.btn {
  border-radius: 25px;
  border: 3px solid #dadada;
}

.form-control:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #2f95e9;
}

footer {
  width: 100%;
  font-size: 1.7vh;
  color: white;
  position: fixed;
  bottom: 0px;
  text-align: center; /* This line is not needed but centers your text */
}
@media only screen and (max-width: 650px) {
  footer {
    display: none;
  }
}
